<header>
  <div class="scroll">
    <div class="scroll__menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h3>
      Обучение
    </h3>
    <div class="scroll__planning" (click)="toggleSideBar()">
      <img src="assets/icons/plus.png" alt="plus">
      <p>Запланировать</p>
    </div>
  </div>

  <div class="base container">
    <p>Главная &#160;&#160;—&#160;&#160; Планирование</p>
    <div class="base__planning">
      <img src="assets/icons/planning.png" alt="">
      <h2>Планирование</h2>
    </div>
  </div>
</header>
