@import "../../../variables";

.filters {
  margin-top: 48px;
  padding-left: 8px;
}

.inputs {
  display: flex;
  align-items: center;
  height: 66px;

  input {
    box-sizing: content-box;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.search {
  position: relative;

  input {
    border-bottom: 1px solid $linesGray;
    padding-bottom: 8px;
    padding-left: 34px;
    font-size: 12px;
    line-height: 16px;
    color: $primaryBlack;
    font-weight: 500;
    transition: .3s;
    width: 132px;
    font-family: 'Montserrat', sans-serif;

    &:focus {
      border-bottom: 2px solid $primaryBlue;
    }
  }

  label {
    position: absolute;
    top: 7%;
    left: 34px;
    pointer-events: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $placeholder;
    transition: .3s;
  }

  input:focus + label, input:not(:placeholder-shown) + label {
    transform: translateY(-16px);
    color: $primaryBlue;
    font-size: 10px;
    line-height: 12px;
  }
}

.search_icon {
  position: absolute;
  left: 0;
  top: 12%;
}

.change_filters_gray {
  display: none;
  position: absolute;
  right: 10px;
  top: 12%;
}

@media (max-width: 770px) {
  .filters {
    margin-top: 16px;
    padding-left: 16px;
  }

  .inputs {
    overflow-x: hidden;
    width: 95%;
  }

  .search {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .change_filters_gray {
    display: inline-block;
  }
}



