@import "../../../../../variables";

.variants {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 8px 0;
  overflow: hidden;
  z-index: 5;
  background-color: white;
  left: 0;


  span {
    padding-left: 16px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    width: 100%;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: $linesGray;
    }
  }
}
