$lightGray: #0000008A;
$veryLightGray: rgba(0, 0, 0, 0.38);
$primaryBlack: #000000DE;
$primaryBlue: #1071FF;
$linesGray: #00000014;
$placeholder: #00000061;
$secondaryRed: #FC3259;
$buttonBackground: #d9e9ff;
