@import "../../../../variables";

.user {
  height: 36px;
  width: 410px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: grab;

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &:hover {
    background-color: $linesGray;
  }
}
